RewriteEngine  On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Options -Indexes
#URLs Rewrite Rules

#Main API, POST/GET/PUT/DELETE Requests
RewriteRule ^([^/]+)/? index.php?url=$1 [QSA,NC,L]